*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-decoration: none;
}

.navbar{
    position: fixed;
    width: 100%;
    background-color:crimson ;
}

.navbar .logo{
    color: #FFFFFF;
    font-size: 35px;
    font-weight: 600;
}

.navbar .menu li a{
    color: #FFFFFF;
}